* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Noto Sans Mono", monospace;
}

.mainbg {
    height: auto;
}

.mainbg video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

.content {
    padding-bottom: 5%;
    padding-top: 8%;
}

.content div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.contenthead {
    padding: 3px;
}

.contentheading {
    font-family: inherit;
    margin: 0%;
    padding: 5px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    text-shadow: 0 0 3px #fff;
}

.animatedText {
    height: 5vh;
    padding-bottom: 10px;
    font-size: 18px;
    text-shadow: 0 0 5px #fff;
    width: 100%;
}


.contentbtn {
    display: flex; /* Use flexbox to make the buttons appear side by side */
    justify-content: center; /* Center the buttons horizontally */
    align-items: center; /* Center the buttons vertically */
}

/* Adjust styles for both button and anchor */
.contentbtn button,
.contentbtn a {
    width: auto; /* Remove fixed width */
    margin-right: 10px; /* Add margin between buttons */
    border-radius: 5px;
    transition: all .15s ease;
    letter-spacing: .025em;
    text-shadow: 0 0 1px #fff;
    text-decoration: none; /* Remove default underline on anchor elements */
    display: inline-block; /* Ensure consistent spacing */
}

.contentbtn button:hover,
.contentbtn a:hover {
    color: black;
    background-color: #fff;
}

/* Responsive */
@media screen AND (max-width: 700px) {
    .mainbg {
        height: 100vh !important;
    }
}


/* Adjust styles for the image container */
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; /* Adjust as needed */
    width: 150px; /* Adjust the width and height to define the circle size */
    height: 150px;
    border-radius: 50%; /* Create a circular shape */
    overflow: hidden; /* Ensure the image stays within the circle */
    position: relative; /* Position the outer circle relative to the container */
}

/* Adjust styles for the image */
.image-container img {
    width: 100%; /* Make the image fill the circle */
    height: auto; /* Maintain aspect ratio */
    border-radius: 50%; /* Ensure the image fits within the circle */
}

/* Styles for the outer circle */
.outer-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 4px solid #13405a; /* Adjust color and thickness as needed */
    border-radius: 50%; /* Create a circular shape */
    box-sizing: border-box;
}