* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Noto Sans Mono", monospace;
}

.mainbg {
    height: auto;
}

.mainbg video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

.content {
    padding-bottom: 5%;
    padding-top: 8%;
}

.content div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.topimg {
    width: 412;
    height: 412;
}

.contenthead {
    padding: 3px;
}

.contentheading {
    font-family: inherit;
    margin: 0%;
    padding: 5px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    text-shadow: 0 0 3px #fff;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  align-items: center;
    background-color: #222;
    --translate-x: 30px;
    --translate-y: -20px;
  }
  
  .portrait {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    height: 600px;
    position: relative;
    overflow: hidden;
    float: left;
    margin-right: 20px; /* Adjust the margin as needed */
  }
  .portrait:hover .hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    opacity: 0.4;
  }
  .portrait:hover .hover-img {
    -moz-transform: translate(var(--translate-x), var(--translate-y));
    -ms-transform: translate(var(--translate-x), var(--translate-y));
    -webkit-transform: translate(var(--translate-x), var(--translate-y));
    transform: translate(var(--translate-x), var(--translate-y));
  }
  
  .fill, .hover-img:after {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
  }
  
  .z-10 {
    z-index: 10;
  }
  
  .hover {
    -moz-transition: all 380ms cubic-bezier(0.16, 0.01, 0.77, 1);
    -o-transition: all 380ms cubic-bezier(0.16, 0.01, 0.77, 1);
    -webkit-transition: all 380ms cubic-bezier(0.16, 0.01, 0.77, 1);
    transition: all 380ms cubic-bezier(0.16, 0.01, 0.77, 1);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  
  .hover-img {
    -moz-transition: opacity, -moz-transform 320ms cubic-bezier(0.16, 0.01, 0.77, 1);
    -o-transition: opacity, -o-transform 320ms cubic-bezier(0.16, 0.01, 0.77, 1);
    -webkit-transition: opacity, -webkit-transform 320ms cubic-bezier(0.16, 0.01, 0.77, 1);
    transition: opacity, transform 320ms cubic-bezier(0.16, 0.01, 0.77, 1);
  }
  .hover-img:after {
    content: '';
    background-color: #FFEB3B;
    mix-blend-mode: color;
  }
  
  .cover-img {
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-image: url(/assets/logotop.png);
  }

.animatedText {
    height: 5vh;
    padding-bottom: 10px;
    font-size: 18px;
    text-shadow: 0 0 5px #fff;
    width: 100%;
}

/* Style for both button and anchor */
.contentbtn button,
.contentbtn a {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
    transition: all .15s ease;
    letter-spacing: .025em;
    text-shadow: 0 0 1px #fff;
    text-decoration: none; /* Remove default underline on anchor elements */
    display: inline-block; /* Ensure consistent spacing */
}

.contentbtn button:hover,
.contentbtn a:hover {
    color: black;
    background-color: #fff;
}

/* Responsive */
@media screen AND (max-width: 700px) {
    .mainbg {
        height: 100vh !important;
    }
}
